
@{
    ViewBag.Title = "Diagnosis";
}
<section class="section bg-light custom-tabs">
    <div class="container">
        <div class="row">
            <div class="col-md-4 element-animate">
                <div class="media d-block media-custom text-left">
                    <div class="media-body">
                        <h3 class="mt-0 text-black"><a href="#" class="text-black">Diagnosis</a></h3>
                        <p>Hi,Sorry to say but you are diagnosed with <span class="text-black"> Diabetes Type 2</span>. Though there's nothing to worry about. Special care and medications can treat and can give relief upto great extent. Here are some test suggestions for you to have it for clearer view of the disease you are having. Thanks. </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 element-animate">
                <div class="media d-block media-custom text-left">
                    <div class="media-body">
                        <h3 class="mt-0 text-black"><a href="#" class="text-black">Causes</a></h3>
                        <p>Here's the list of causes due to which you are diagnosed with <span class="text-black">Diabetes Type 2</span> </p>
                        <p>overweight</p>
                        <p>obesity</p>
                        <p>lack of physical activity</p>
                        <p>insulin resistence</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 element-animate">
                <div class="media d-block media-custom text-left">
                    <div class="media-body">
                        <h3 class="mt-0 text-black"><a href="#" class="text-black">Tests</a></h3>
                        <p>Here's the list of tests you need to take within few days to get better picture of the disease and to start treatment at earliest. </p>
                        <p>Sugar test</p>
                        <p>Blood pressure</p>
                        <p>Urine test</p>
                        <p>Skin thickness test</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 element-animate">
                <div class="media d-block media-custom text-left">
                    <div class="media-body">
                        <h3 class="mt-0 text-black"><a href="#" class="text-black">Suggestions</a></h3>
                        <p>Here's the list of actions/medicines you can take to relieve some of your pain from <span class="text-black">Diabetes Type 2</span> </p>
                        <p>insulin intake</p>
                        <p>metformin</p>
                        <p>pramlintide</p>
                        <p>blood pressure drugs</p>
                        <p>cholestrol medication</p>
                        <p>asprin</p>
                        <p>blood pressure monitoring</p>
                        <p>carbohydrate counting</p>
                        <p>exercise</p>
                        <p>balanced diet</p>
                        <p style="color:red;"> *We strongly recommend to visit nearest medical store with this priscription to get accurate amount of medications for you.</p>
                        @*<p class="clearfix">
                                <a href="#" class="float-left">Read more</a>
                                <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 8</a>
                            </p>*@
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>